#NUXT_SITE_ENV="staging"
NUXT_SITE_URL="https://hackathon.cslabs.be"
NUXT_SITE_NAME="Le Hackathon du CSLabs"
NUXT_SITE_DESCRIPTION="Le Hackathon du CSLabs : 48h pour imaginer, prototyper et présenter un projet tech en équipe."

NUXT_TURNSTILE_SITE_KEY=""
NUXT_TURNSTILE_SECRET_KEY=""

NUXT_SMTP_HOST=""
NUXT_SMTP_PORT="8465"
NUXT_SMTP_USER=""
NUXT_SMTP_PASSWORD=""
NUXT_SMTP_REPLY_TO="event@cslabs.be"

NUXT_OG_IMAGE_SECRET=""

SUPABASE_URL="https://supabase-hackathon.cslabs.be"
SUPABASE_KEY=""
SUPABASE_SECRET_KEY=""
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"

CLAMAV_HOST=""
CLAMAV_PORT=""
