# Nuxt SEO
#NUXT_SITE_ENV="staging"
NUXT_SITE_URL="https://hackathon.cslabs.be"
NUXT_SITE_NAME="Le Hackathon du CSLabs"
NUXT_SITE_DESCRIPTION="Le Hackathon du CSLabs : 48h pour imaginer, prototyper et présenter un projet tech en équipe."

NUXT_OG_IMAGE_SECRET=""

# Cloudflare Turnstile
NUXT_TURNSTILE_SITE_KEY=""
NUXT_TURNSTILE_SECRET_KEY=""

# Email
NUXT_SMTP_HOST="localhost"
NUXT_SMTP_PORT="1025"
NUXT_SMTP_USER="test"
NUXT_SMTP_PASSWORD="test"
NUXT_SMTP_REPLY_TO="event@cslabs.be"

# Supabase client
SUPABASE_URL="https://supabase-hackathon.cslabs.be"
SUPABASE_KEY="sb_publishable_XXX"
SUPABASE_SECRET_KEY="sb_secret_XXX"

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"

# ClamAV
CLAMAV_HOST="localhost"
CLAMAV_PORT="3310"
