services:
  app:
    build:
      context: .
      args:
        - DATABASE_URL=${DATABASE_URL}
    env_file:
      - .env
    ports:
      - "3000:80"
  clamav:
    image: clamav/clamav:1.5
    ports:
      - "3310:3310"
    volumes:
      - clamav_data:/var/lib/clamav
      - clamav_log:/var/log/clamav
      - clamav_conf:/etc/clamav
      - clamav_run:/var/run/clamav
