services:
  app:
    build:
      context: .
      args:
        - DATABASE_URL=${DATABASE_URL}
        - SUPABASE_URL=${SUPABASE_URL}
    ports:
      - "3000:80"
    env_file:
      - .env
    depends_on:
      clamav:
        condition: service_healthy
        required: true
  clamav:
    image: clamav/clamav:1.5
    healthcheck:
      test: [ "CMD-SHELL", "echo 'PING' | nc -w 5 localhost 3310" ]
      interval: 30s
      timeout: 10s
      retries: 5
